.programmer{
    display: flex;
    margin-right: 5px;
    padding: 50px;
    margin-bottom: 50px;
}
.programmer:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.programmer-name{
    color: blue;
    font-weight: 400;
}
.programmer-image{
    width: 100px;
    height: auto;
}
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.icon-color{
    color: gold;
}